@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647705187239') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-s-fold:before {
  content: "\e676";
}

.icon-s-unfold:before {
  content: "\e678";
}

